@import "tailwindcss";
@font-face {
  font-family: 'Amstelvar';
  src: url('/fonts/Anstelvar/AMSTERLINE.TTF') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Mona Sans */
@font-face {
  font-family: 'MonaSans';
  src: url('/fonts/Monasans/MONASANS_SEMICONDENSED-LIGHTITALIC.TTF') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* ─────────────────────────────
     Keyframes
  ───────────────────────────── */

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-60px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes drawLine {
    0% {
      width: 0;
      opacity: 0;
    }
    100% {
      width: 100%;
      opacity: 1;
    }
  }

  @keyframes pulseDot {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
  }

  /* ─────────────────────────────
     Animation tokens
  ───────────────────────────── */

  --animate-slide-up: slideUp 0.8s ease forwards;
  --animate-slide-left: slideLeft 1s ease forwards;
  --animate-draw-line: drawLine 1s ease forwards;
  --animate-pulse-dot: pulseDot 1.5s infinite;

  --font-display : 'Amstelvar', 'sans-serif';
  --font-body : "MonaSans", 'sans-serif';
}
